body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 80vw;
}


.flex-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.board {
    width: 40rem;
    height: 40rem;
    display: grid;
}

.buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.input {
    display: flex;
    align-items: center;
    justify-content: center
}

input[type=text] {
    border: none;
}

input[type=text]:focus {
    border: 3px solid #555;
  }